
* {
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    color: #000000;
    padding: 0px;
    margin: 0px;
}

/***GENERALSTYLES***/

a {
    text-decoration: none;
}

h2 { 
    font-size: 20px;
    font-weight: 700;
}

h4 {
    font-size: 15px;
    font-weight: 750;
}

h5 {
    font-size: 17px ;
    font-weight: 750;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}
    

/*************
****HEADER****
*************/

header { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px;
}

header #main-logo {
    padding: 30px 0px;
}

header #main-logo img {
    width: 100px;
}

header nav ul { 
    display:flex;
}

header nav ul li a {
    display: inline-block;
    width: 150px;
    padding-top: 40px;
    margin: 0px;
    border-top: 3px solid transparent;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    transition: all .5s ease-in-out;
}

header nav ul li a:hover {
   border-color: #0065FC;
}

.active {
    border-color: #0065FC;
    color: #0065FC;
}


/**************
******MAIN*****
***************/

main {
    padding: 0px 50px
}


/**************
******Intro****
***************/

#intro h2 {
    margin-bottom: 8px;
    
}

#intro p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 14px;
}


/**************
**SEARCH-BAR***
***************/

.search-bar  {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    height: 50px;
    border-radius: 10px;
}

.search-bar .fa-solid {
    background-color: #f2f2f2;
    height: 45px;
    padding: 13px 0px 0px 16px;
    min-width: 50px;
    margin: 0px -10px 0px 0px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

.search-bar #text-bar {
    background-color: white;
    width: 230px;
    padding: 0px 10px;
    border: 2px solid #f2f2f2;
    height: 45px;
    box-shadow: none;
    font-weight: 800;
    font-size: 14px;
}

.search-bar #search-button {
    background-color: #0065FC;
    height: 45px;
    width: 120px;
    color: white;
    margin: 0px 0px 0px -7px;
    border: 2px solid #0065FC ;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#text-bar:focus {
    outline: none;
}

#search-button:hover {
    background-color: #DEEBFF;
    color: #0065FC;
    border-color: #DEEBFF;
}

#small-search-button {
    visibility: hidden;
    transition: all .3s ease-in-out
}

#small-search-button:hover {
    background-color: #DEEBFF;
    color: #0065FC;
    border-color: #DEEBFF;
}

#search-button:active {
    background-color:#0065FC;
}

#small-search-button:active {
    background-color:#0065FC;
}



/**************
****FILTERS****
**************/

#filterscontainer {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px 25px 0px;
}

.filter {
    display: flex;
    border-radius: 100%;
    margin:8px 10px;
    cursor: pointer;
}

#filtertitle {
    margin-right: 20px;
    padding: 17px 0px;
}

.filter .fa-solid {
    background-color: #DEEBFF;
    width: 45px;
    border-radius: 100%;
    height: 45px;
    padding: 14px 0px 0px 13px; 
    z-index: 1; 
    font-weight: 800;
    color: #0065FC;
    transition: all .3s ease-in-out;
    font-size: 18px;
}
  
.filter button {
    background-color: white;
    min-width:100px;
    margin-left: -35px;
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    font-weight: 800;
    padding: 0px 20px 0px 45px;
    font-size: 16px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.filter .fa-child-reaching {
    padding: 14px 0px 0px 15px;
    font-size: 20px;
}
  
.filter:hover .fa-solid {
    background-color: #0065FC;
    color: #DEEBFF;
    transform: translatex(135px);
}

.filter:hover .fa-child-reaching {
      transform: translatex(105px)  
}

.filter:hover .fa-heart {
      transform: translatex(135px);
}

.filter:hover .fa-dog{
      transform: translatex(185px);
}

.filter:hover button {
      background-color: #DEEBFF;
      color: #0065FC;
      transform: translatex(-30px);
      padding: 0px 45px 0px 20px;
      margin-left: 0px;
      margin-right: -35px;
}

/**Infop**/

.info p {
    font-size: 14px;
    font-weight: 500;
    padding-left: 20px;
}

.info {
   position: relative;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.info .fa-info {
    color: #0065FC;
    font-weight:900;
    font-size: 13px;
    border: 2px solid #f2f2f2;
    border-radius: 100%;
    padding: 3px 7px;
    position: absolute;
    left: -10px;
    top: -3px;
}


/*************
****HOTELS****
*************/

#results {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    gap: 40px;
}
  
#results > div {
    background-color: #f1f1f1;
    margin: 0px;
    font-size: 30px;
    border-radius: 15px;
}

#accomodations {
    width: 66.6%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px
}

#accomodations .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 15px;
}

#mostpopular {
    width: 33.3%;
    padding: 40px 30px;
    position: relative;
}

#mostpopular .container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#mostpopular span {
    position: absolute;
    top: 38px;
    right: 30px;
    font-size: 20px;
}


/**************
***ACTIVITIES**
**************/

#activitiestitle {
    margin: 60px 0px 20px 0px;
}
 
#activities {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: 420px;
    row-gap: 40px;
    margin-bottom: 20px;
}

.activity {
    position: relative;
    width: 22.5%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(75, 72, 72, 0.2) 0px 7px 20px 0px;
    transition: all .3s ease-in-out;
}

.activity img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.activity .content {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: white;
    padding-top: 16px;
    transition: all .3s ease-in-out;
}

.row-1 {
    height: 420px;
}

.row-2 {
    height: 220px;
}

.row-3 {
    height: 160px;
}

.row-4 {
    height: 190px;
}

.activity:hover  {
    transform: perspective(500px) translateZ(20px);
    background-color: #DEEBFF;
}

.activity:hover .content{
    background-color: #DEEBFF;
}

 
/*************
 ****FOOTER****
 *************/

footer {
    display: flex;
    background-color: #f2f2f2;
    padding: 50px;
    margin-top: 60px;
}

footer ul a {
    font-size: 14px;
    display: block;
    line-height: 30px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

footer div {
    width: 33%;
}

footer a:hover {
    color:#0065FC
}
 

/**************
**HOTELCARDS***
**************/
  
.hotel {
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    background-color:white;
    min-width: 220px;
    flex: 1 0 220px;
    border-radius: 15px;
    max-height: 180px;
    overflow: hidden;
    box-shadow: rgba(8, 8, 8, 0.2) 0px 7px 29px 0px;
    transition: all .3s ease-in-out;
}

.hotel a {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.hotel img {
    object-fit: cover;
    width: 100%;
    height: 60%;
    margin: 0px 0px 5px 0px;
}

.hotel h4 {
    font-size: 15px;
    font-weight: 750;
    margin: 5px 10px
}

.hotel p {
    font-size: 12px;
    margin: 0px 10px;
    margin-bottom: -2px;
}

.hotel .rating {
    margin: -10px 10px ;
}
  
.rating i {
    font-size: 11px;
    color: #0065FC;
    margin-right: -6px;
}

.rating .fa-solid.fa-star.void {
    color:#F2F2F2
}

.hotel:hover {
    transform: perspective(500px) translateZ(20px);
    background-color: #DEEBFF;
    border-color: #DEEBFF;
}

.pophotel a {
    display: flex;
    width: 100%;
    min-height: 130px;
    background-color: white;
    border: 5px solid white ;
    border-radius: 15px ;
    overflow: hidden;
    box-shadow: rgba(8, 8, 8, 0.2) 0px 7px 29px 0px;
    transition: all .3s ease-in-out;
}

.pophotel img {
    object-fit: cover;
    width: 40%;
    height: 130px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 10px 15px 0px 18px;
    justify-content: space-between;
}

.content p {
    font-size: 12px;
}

.pophotel a:hover {
    transform: perspective(500px) translateZ(20px);
    background-color: #DEEBFF;
    border-color: #DEEBFF;
}


    /***************
    **MEDIAQUERIES**
    ***************/

/*****TABLET*****/

@media (max-width: 992px) {

#results {
    flex-direction: column-reverse;
}

#accomodations, #mostpopular {
    width: 100%;
}

#mostpopular .container {
    flex-direction: row;
    flex-wrap: wrap;
}

.pophotel {
    width: 47%;
    }
}

/******PHONE*****/

@media (max-width: 768px) {
    
h2 { 
    font-size: 22px;
    font-weight: 800;
}

h4 {
    font-size: 17px;
}
    
header {
    width: 100%;
    padding: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
}

header #main-logo {
    padding: 15px 0px 0px 0px
}

header nav {
    width: 100%;
}

header nav ul  {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

header nav ul li {
    width: 100%
}

header nav ul li a {
    border-bottom:  3px solid #F2F2F2;
    border-top: none;
    width: 100%;
    text-align: center;
    padding: 20px 0px 15px 0px;
}
    
main {
    padding: 0px 0px;
}

#search {
    padding: 0px 20px;
}

.search-bar {
    margin: 30px 0px;
} 

.search-bar #text-bar {
    width: 100%;
}

.search-bar #search-button { 
    display: none;
}

#small-search-button  {
    visibility: visible;
    background-color: #0065FC;
    color: white;
    width: 45px;
    height: 45px;
    margin: 0px 0px 0px -15px;
    padding: 13px;
    border-radius: 13px;
    cursor: pointer;
} 

#intro p { 
    font-size: 16px;
}

#filtertitle {
    width: 100%;
    padding-left: 5px;
}

.filter {
    margin:8px 4px;  
}

#results {
    flex-direction: column-reverse;
    gap: 10px;
}

#results #mostpopular {
    width: 100%;
    padding: 40px 20px;
    border-radius: 0px;
}

#mostpopular .container {
    gap: 12px;
}

.pophotel {
    height: 150px;
    width: 100%;
}
.pophotel a{
    height: 150px;
}

.pophotel img {
    height: 150px;
}

#results #accomodations {
    width: 100%;
    padding: 30px 20px;
    background-color: white;
}

.hotel {
    max-height: 200px;
}

#accomodations .container {
    gap: 15px;
}

#activitiestitle {
    margin: 30px 20px;
}
   
#activities {
    padding: 0px 20px;
    flex-wrap: nowrap;
    height: auto;
    row-gap: 25px;
}

.activity {
    width: 100%;
    height: 200px;
}

footer {
    flex-direction: column;
    gap: 40px;
}

footer div {
    width: 100%;
}
}

@media (max-width: 395px) {


}
